<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Rate Our Service</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="Toyota" class="logo" />
      {% if message %}
        <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input type="text" name="customer" id="" />
        </div>
        <div class="form-group">
          <h3>Dealer Name</h3>
          <select name="dealer" id="">
            <option value="">Select Dealer</option>
            <option value="Sam Smith">Axl Rose</option>
            <option value="Sam Smith">James Hetfield</option>
            <option value="Sam Smith">Chris Cornell</option>
            <option value="John Doe">John Doe</option>
            <option value="Jane Doe">Jane Doe</option>
            <option value="Sam Smith">Sam Smith</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Rate your dealer</h3>
          <select name="rating" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Comments about your experience</h3>
          <textarea name="comments" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="submit" class="btn"/>
      </form>
    </div>
  </body>
</html>
